/* *********  form tags input  **************************** */

.tagsinput {
  border: 1px solid #CCC;
  background: #FFF;
  padding: 6px 6px 0;
  width: 300px;
  overflow-y: auto;
}
span.tag {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: block;
  float: left;
  padding: 5px 9px;
  text-decoration: none;
  background: #1ABB9C;
  color: #F1F6F7;
  margin-right: 5px;
  font-weight: 500;
  margin-bottom: 5px;
  font-family: helvetica;
}
span.tag a {
  color: #F1F6F7 !important;
}
.tagsinput span.tag a {
  font-weight: bold;
  color: #82ad2b;
  text-decoration: none;
  font-size: 11px;
}
.tagsinput input {
  width: 80px;
  margin: 0px;
  font-family: helvetica;
  font-size: 13px;
  border: 1px solid transparent;
  padding: 3px;
  background: transparent;
  color: #000;
  outline: 0px;
}
.tagsinput div {
  display: block;
  float: left;
}
.tags_clear {
  clear: both;
  width: 100%;
  height: 0px;
}
.not_valid {
  background: #FBD8DB !important;
  color: #90111A !important;
}

/* *********  /form tags input  **************************** */


.btn-critical {
  background-color: #000000;
  color: white;
  font-weight: bold;
}

.btn-attack, .btn-attack:hover {
  background-color: #000000;
  color: #ff0000;
  font-weight: bold;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 14.5px 15px;
}

.summarized {
    background-color: white;
    border: 1px solid #cccccc;
    padding: 10px 22px;
    height: 150px;
}

.tab-title {
    color: black;
    height: 71px;
    font-size: 15px;
}

.exp_title {

}

.conn_accepted {
    float: right;
    color: #929292;
    letter-spacing: -1px;
    font-size: 15px;
}

.custom_table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.custom_table td {
    font-size: 33px;
    font-family: Open Sans,Arial,sans-serif;
}

.custom_table th {
    font-weight: 400;
    text-align: left;
}

.sub_headers {
    position: relative;
    background-color: #f9f9f9;
    margin: -10px -22px 22px;
    padding: 0 25px;
    border-radius: 4px 4px 0 0;
    height: 60px;
    line-height: 60px;
    font-size: 17px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    display: block;
}

.sub_headers:hover {
    text-decoration: none;
}

.alerts_box {
    font-size: 32px;
    padding-top: 30px;
    margin-bottom: 15px;
}

.zone_label {
    color: #C70039;
    margin: 0;
}

.table-zone table th {
    text-align: left;
    font-size: 15px;
    line-height: 30px;
    padding: 0 8px;
    font-weight: 700;
    background-color: #f6f8fa;
}

.table-zone table thead td, .table-zone table thead th {
    border-right: 2px solid #fff;
    white-space: nowrap;
    border-bottom: 1px solid transparent;
}

.sub-headers td {
    text-align: right;
    background-color: #f6f8fa;
}

.table-zone table tbody tr {
    border-bottom: 1px solid #f6f8fa;
    text-align: right;
}

.table-zone table caption label {
    color: #c70039;
    font-weight: bold;
    font-size: 17px;
}

.tcp-upstreams-table td {
    font-size: 14px;
}

.upstreams-table td {
    font-size: 14px;
}

.dataTables_wrapper {
    border-top: 2px solid #f6f8fa;
    padding: 15px;
}