<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='shortcut icon' type='image/x-icon' href='/static/images/open-source-logo.png' />

    <title>{{ page_title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/pnotify.custom.min.css" rel="stylesheet">
    <link href="/static/custom.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/datatables.min.css"/>

  </head>

  <body>

    <!-- Modal Area -->
    <div id="modify_modal_area">
        <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="modify_modal">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><label style="color:#911515;font-weight:bold" id="modify_modal_us_name"></label> > <label style="color:#911515;font-weight:bold" id="modify_modal_server_name"></label> <label>Modify Operation</label></h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-3">
                          <div class="form-group">
                            <label for="server_weight">Weight</label>
                            <input type="text" class="form-control" id="server_weight" placeholder="Example: 3 (s, max:5)">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="form-group">
                            <label for="server_max_fails">Maximum Fails</label>
                            <input type="text" class="form-control" id="server_max_fails" placeholder="Example: 2 (max:5)">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="form-group">
                            <label for="server_fail_timeout">Fail Timeout</label>
                            <input type="text" class="form-control" id="server_fail_timeout" placeholder="Example: 3 (s, max:5)">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="form-group">
                            <label for="server_max_conns">Maximum Connection</label>
                            <input type="text" class="form-control" id="server_max_conns" placeholder="Example: 100 (max:200)">
                          </div>
                      </div>
                  </div>

                  <div style="display: none;" id="const"></div>

                  <div class="row">
                      <div class="col-md-6">
                          <label>Server Status</label>
                          <div class="form-group">
                            <select class="form-control" id="server_status">
                              <option value="none" disabled="disabled" selected="selected">Select Status</option>
                              <option value="primary">Primary</option>
                              <option value="backup">Backup</option>
                            </select>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" onclick="save_modified_changes()">Save Changes</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- Modal Area -->

        <!-- Modal Area -->
    <div id="add_new_modal_area">
        <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="add_new_server_modal">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><label>Add New Server</label></h4>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                            <label for="server_ip">Server IP</label>
                            <input type="text" class="form-control" id="server_ip" placeholder="Example: 192.168.1.1">
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                            <label for="server_port">Server Port</label>
                            <input type="text" class="form-control" id="server_port" placeholder="Example: 80">
                          </div>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-3">
                          <div class="form-group">
                            <label for="add_new_server_weight">Weight</label>
                            <input type="text" class="form-control" id="add_new_server_weight" placeholder="Example: 3 (s, max:5)">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="form-group">
                            <label for="add_new_server_max_fails">Maximum Fails</label>
                            <input type="text" class="form-control" id="add_new_server_max_fails" placeholder="Example: 2 (max:5)">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="form-group">
                            <label for="add_new_server_fail_timeout">Fail Timeout</label>
                            <input type="text" class="form-control" id="add_new_server_fail_timeout" placeholder="Example: 3 (s, max:5)">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="form-group">
                            <label for="add_new_server_max_conns">Maximum Connection</label>
                            <input type="text" class="form-control" id="add_new_server_max_conns" placeholder="Example: 100 (max:200)">
                          </div>
                      </div>
                  </div>

                  <div style="display: none;" id="new_const"></div>

                  <div class="row">
                      <div class="col-md-6">
                          <label>Server Status</label>
                          <div class="form-group">
                            <select class="form-control" id="add_new_server_status">
                              <option value="none" disabled="disabled" selected="selected">Select Status</option>
                              <option value="primary">Primary</option>
                              <option value="backup">Backup</option>
                            </select>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" onclick="add_new_server()">Add Server</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- Modal Area -->
  
    <img id="loading" src="/static/images/loading.gif" style="position:absolute;z-index:9999;width:100%;display:none;opacity:0.5">

    <div class="container" style="width: 100%;">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><img height="40px" src="/static/images/open-source-logo.png"></a></li>
                    <li role="presentation"><a style="line-height: 35px;" class="tab-title" href="#server_zones" aria-controls="server_zones" role="tab" data-toggle="tab"><img id="server_zones_img" height="20px" src="">&nbsp;Server Zones</a></li>
                    <li role="presentation"><a style="line-height: 35px;" class="tab-title" href="#upstreams" aria-controls="upstreams" role="tab" data-toggle="tab"><img id="upstreams_img" height="20px;" src="">&nbsp;Upstreams</a></li>
                    <li role="presentation"><a style="line-height: 35px;" class="tab-title" href="#tcp_udp_zones" aria-controls="tcp_udp_zones" role="tab" data-toggle="tab"><img id="tcp_udp_zones_img" height="20px;" src="">&nbsp;TCP/UDP Zones</a></li>
                    <li role="presentation"><a style="line-height: 35px;" class="tab-title" href="#tcp_udp_upstreams" aria-controls="tcp_udp_upstreams" role="tab" data-toggle="tab"><img id="tcp_udp_upstreams_img" height="20px;" src="">&nbsp;TCP/UDP Upstreams</a></li>
                    <li role="presentation"><a style="line-height: 35px;" class="tab-title" href="#caches" aria-controls="caches" role="tab" data-toggle="tab"><img id="caches_img" height="20px;" src="">&nbsp;Caches</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="margin-top: 20px;">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2 summarized" style="width: 280px;">
                                    <p class="exp_title">Version: <label id="version">N/A</label></p>
                                    <p class="exp_title">Address: <label id="hostname">N/A</label></p>
                                    <p class="exp_title">Uptime: <label id="uptime">N/A</label></p>
                                    <p class="exp_title">Role: <label id="role">N/A</label></p>
                                </div>
                                <div class="col-md-6 summarized" style="margin-left: 5%;">
                                    <label>Connections</label><span class="conn_accepted">Accepted: <span id="accepted">N/A</span></span>
                                    <table class="custom_table" style="margin-top: 15px;">
                                        <thead>
                                            <tr>
                                                <th>Active</th>
                                                <th>Accepted/s</th>
                                                <th>Handled</th>
                                                <th>Waiting</th>
                                                <th>Reading</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="g_current">N/A</td>
                                                <td id="g_accept_per_second">N/A</td>
                                                <td id="g_handled">N/A</td>
                                                <td id="g_waiting">N/A</td>
                                                <td id="g_reading">N/A</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-3 summarized" style="margin-left: 2px;float: right;">
                                    <label>Requests</label><span class="conn_accepted">Total: <span id="total_req">N/A</span></span>
                                    <table class="custom_table" style="margin-top: 15px;">
                                        <thead>
                                            <tr>
                                                <th>Req/s</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td id="r_per_second">N/A</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-md-12" style="margin-top: 20px;">
                                <div class="col-md-6 summarized" style="height: 300px;">
                                    <a class="sub_headers" href="#?" aria-controls="?" role="tab" data-toggle="tab">Layer 7 Area</a>
                                    <div class="row">
                                        <div class="col-md-6" style="border-right: 1px solid gray;">
                                            <label class="zone_label">Zones</label>
                                            <table class="custom_table" style="margin-top: 15px;">
                                                <thead>
                                                    <tr>
                                                        <th>Total</th>
                                                        <th>Incidents</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td id="l7_total_zones">N/A</td>
                                                        <td id="l7_zones_incidents">N/A</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <label>Traffic</label>
                                            <p style="margin: 0 0 -5px;">In/s: <label id="l7_traffic_in">N/A</label></p>
                                            <p style="margin: 0 0 -5px;">Out/s: <label id="l7_traffic_out">N/A</label></p>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="zone_label">Upstreams</label>
                                            <table class="custom_table" style="margin-top: 15px;">
                                                <thead>
                                                    <tr>
                                                        <th>Total</th>
                                                        <th>Incidents</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td id="l7_upstreams">N/A</td>
                                                        <td id="l7_upstream_incidents">N/A</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <label>Servers</label>
                                            <p style="margin: 0 0 -5px;">All: <label id="l7_upstream_servers">N/A</label></p>
                                            <p style="margin: 0 0 -5px;">Up: <label id="l7_upstream_up">N/A</label></p>
                                            <p id="l7_upstream_down_area" style="margin: 0 0 -5px;">Down: <label id="l7_upstream_down">N/A</label></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 summarized" style="height: 300px;">
                                    <a class="sub_headers" href="#?" aria-controls="?" role="tab" data-toggle="tab">Layer 4 Area</a>
                                    <div class="row">
                                        <div class="col-md-6" style="border-right: 1px solid gray;">
                                            <label class="zone_label">Zones</label>
                                            <table class="custom_table" style="margin-top: 15px;">
                                                <thead>
                                                    <tr>
                                                        <th>Total</th>
                                                        <th>Incidents</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td id="l4_total_zones">N/A</td>
                                                        <td id="l4_zones_incidents">N/A</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <label style="margin-top: 10px;">Traffic</label>
                                            <p style="margin: 0 0 -5px;">In: <label id="l4_traffic_in">N/A</label></p>
                                            <p style="margin: 0 0 -5px;">Out: <label id="l4_traffic_out">N/A</label></p>
                                        </div>

                                        <div class="col-md-6">
                                            <label class="zone_label">Upstreams</label>
                                            <table class="custom_table" style="margin-top: 15px;">
                                                <thead>
                                                    <tr>
                                                        <th>Total</th>
                                                        <th>Incidents</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td id="l4_upstreams">N/A</td>
                                                        <td id="l4_upstream_incidents" style="color: red;">N/A</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <label>Servers</label>
                                            <p style="margin: 0 0 -5px;">All: <label id="l4_upstream_servers">N/A</label></p>
                                            <p style="margin: 0 0 -5px;">Up: <label id="l4_upstream_up">N/A</label></p>
                                            <p id="l4_upstream_down_area" style="margin: 0 0 -5px">Down: <label id="l4_upstream_down">N/A</label></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="server_zones">
                        <div class="row">
                            <div class="col-md-12 table-zone">
                                <table class="table table-hover" id="zones_table">
                                    <caption><h1 style="color: gray;">Server Zones</h1></caption>
                                    <colgroup span="1"></colgroup>
                                    <colgroup span="3"></colgroup>
                                    <colgroup span="6"></colgroup>
                                    <colgroup span="4"></colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="colgroup" colspan="1">Zone</th>
                                            <th scope="colgroup" colspan="3">Requests</th>
                                            <th scope="colgroup" colspan="6">Responses</th>
                                            <th scope="colgroup" colspan="4">Traffic</th>
                                        </tr>
                                        <tr class="sub-headers">
                                            <td scope="col"></td>
                                            <td scope="col">Total</td>
                                            <td scope="col">Req/s</td>
                                            <td scope="col">Time</td>
                                            <td scope="col">1xx</td>
                                            <td scope="col">2xx</td>
                                            <td scope="col">3xx</td>
                                            <td scope="col">4xx</td>
                                            <td scope="col">5xx</td>
                                            <td scope="col">Total</td>
                                            <td scope="col">Sent/s</td>
                                            <td scope="col">Rcvd/s</td>
                                            <td scope="col">Sent</td>
                                            <td scope="col">Rcvd</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="upstreams">
                        <div class="row">
                            <div class="col-md-12 table-zone" id="upstreams_table_area">
                                <h1 style='color: gray;' id='header_name'>Upstreams</h1>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tcp_udp_zones">
                        <div class="row">
                            <div class="col-md-12 table-zone">
                                <table class="table table-hover" id="tcp_udp_zones_table">
                                    <caption><h1 style="color: gray;">TCP/UDP Zones</h1></caption>
                                    <colgroup span="2"></colgroup>
                                    <colgroup span="3"></colgroup>
                                    <colgroup span="6"></colgroup>
                                    <colgroup span="4"></colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="colgroup" colspan="1">Zone</th>
                                            <th scope="colgroup" colspan="2">General</th>
                                            <th scope="colgroup" colspan="3">Requests</th>
                                            <th scope="colgroup" colspan="6">Responses</th>
                                            <th scope="colgroup" colspan="4">Traffic</th>
                                        </tr>
                                        <tr class="sub-headers">
                                            <td scope="col"></td>
                                            <td scope="col">Port</td>
                                            <td scope="col">Protocol</td>
                                            <td scope="col">Req/s</td>
                                            <td scope="col">Time</td>
                                            <td scope="col">Total</td>
                                            <td scope="col">1xx</td>
                                            <td scope="col">2xx</td>
                                            <td scope="col">3xx</td>
                                            <td scope="col">4xx</td>
                                            <td scope="col">5xx</td>
                                            <td scope="col">Total</td>
                                            <td scope="col">Sent</td>
                                            <td scope="col">Rcvd</td>
                                            <td scope="col">Sent/s</td>
                                            <td scope="col">Rcvd/s</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tcp_udp_upstreams">
                        <div class="row">
                            <div class="col-md-12 table-zone" id="tcp_udp_upstreams_area">
                                <h1 style='color: gray;' id='header_name_tcp_udp'>TCP/UDP Upstreams</h1>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="caches">
                        <div class="row">
                            <div class="col-md-12 table-zone">
                                <table class="table table-hover" id="cache_zone_table">
                                    <caption><h1 style="color: gray;">Caches</h1></caption>
                                    <colgroup span="2"></colgroup>
                                    <colgroup span="4"></colgroup>
                                    <colgroup span="9"></colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="colgroup" colspan="1">Zone</th>
                                            <th scope="colgroup" colspan="2">Size</th>
                                            <th scope="colgroup" colspan="4">Traffic</th>
                                            <th scope="colgroup" colspan="9">Cache</th>
                                        </tr>
                                        <tr class="sub-headers">
                                            <td scope="col"></td>
                                            <td scope="col">Capacity</td>
                                            <td scope="col">Used</td>
                                            <td scope="col">Sent</td>
                                            <td scope="col">Rcvd</td>
                                            <td scope="col">Sent/s</td>
                                            <td scope="col">Rcvd/s</td>
                                            <td scope="col">Miss</td>
                                            <td scope="col">Bypass</td>
                                            <td scope="col">Expired</td>
                                            <td scope="col">Stale</td>
                                            <td scope="col">Updating</td>
                                            <td scope="col">Re-validated</td>
                                            <td scope="col">Hit</td>
                                            <td scope="col">Scarce</td>
                                            <td scope="col">Total</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <script src="/static/pnotify.custom.min.js"></script>
    <script src="/static/jquery.crypt.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>
    <script src="/static/main_js/uam.js"></script>

  </body>
</html>
